.btn-primary{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-18;
    line-height: 20px;
    width: 250px;
    font-weight: $font-w-700;
    letter-spacing: .1rem;
    margin-top: 3rem;
}